{{ ansible_managed | comment }}


{% if certm_domain_name %}
# DOMAIN NAME for Let's Encrypt if obtaining mode enabled.
CERTM_DOMAIN_NAME="{{ certm_domain_name }}"
{% endif %}
{% if certm_email %}
# EMAIL for Let's Encrypt if obtaining mode enabled.
CERTM_EMAIL="{{ certm_email}}"
{% endif %}

{% if certm_haproxy_certs_location %}
# Where HAProxy Certs located .pem if combine mode enabled.
CERTM_HAPROXY_CERTS_LOCATION="{{ certm_haproxy_certs_location}}"
{% endif %}
{% if certm_letsencrypt_certs_location %}
# Where Let's Encrypt Certs located like live if combine mode enabled.
CERTM_LETSENCRYPT_CERTS_LOCATION="{{ certm_letsencrypt_certs_location}}"
{% endif %}
{% if certm_certbot_port %}
# If renew mode enabled.
CERTM_CERTBOT_PORT="{{ certm_certbot_port}}"
{% endif %}

{% if certm_s3_endpoint %}
# API endpoint for S3.
CERTM_S3_ENDPOINT="{{ certm_s3_endpoint }}"
{% endif %}
{% if certm_s3_bucket_name %}
# Bucket Name for S3.
CERTM_S3_BUCKET_NAME="{{ certm_s3_bucket_name }}"
{% endif %}
{% if certm_s3_access_key %}
# Access Key of the server.
CERTM_S3_ACCESS_KEY="{{ certm_s3_access_key }}"
{% endif %}
{% if certm_s3_private_key %}
# Secret key of the server.
CERTM_S3_PRIVATE_KEY="{{ certm_s3_private_key }}"
{% endif %}

{{ certm_server_env_extra }}
